<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div ng-app="app">
      <h1>Trypo</h1>
      <trypo ng-transclude></trypo>
    </div>

    <script src="angular.min.js"></script>
    <script src="angular-resource.min.js"></script>
    <script src="services.js"></script>
    <script src="application.js"></script>
  </body>
</html>
