<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <h1>Trypo</h1>
    <% @fonts.each do |font| %>
      <p><%= font.naming.name %></p> 
    <% end %>

    <script src="angular.min.js"></script>
    <script src="application.js"></script>
  </body>
</html>
